* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   align-items: center;
 }
 
 .center {
 
   margin: 0 auto;
   padding: 0 2%;
   display: flex;
   flex-wrap: wrap;
 }
 
 header {
   background-color: white;
   padding: 20px 0;
   border-bottom: 2px solid #FE347E;
 }
 
 .logo {
   color: #FE347E;
 }
 
 .menu {
   width: 80%;
   text-align: right;
   text-decoration: none;
   margin-right: 100px;
 }
 
 .menu a {
   color: black;
   font-size: 14px;
   text-decoration: none;
   display: inline-block;
   margin-right: 15px;
 }
 
 .menu .btn_contato {
   background-color: #FE347E;
   display: inline-block;
   padding: 4px 8px;
   color: white;
   border-radius: 8px;
   margin-left: 100px;
 }
 
 .menu .btn_tema {
   background-color: #FE347E;
   display: inline-block;
   padding: 4px 8px;
   color: white;
   border-radius: 8px;
   align-self: left;
 }
 
 
 
 section.main{
  background-image: url('img/hero-bg.jpg');
  margin-right: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
 }

 .main_cta{
  width: 100%;
  text-align: center;
  margin: 60px;
  align-items: center;
 }

 .main_cta .h2{
  color:#FE347E;
  font-size: 40px
  
 }

 .main_cta p{
  color: aqua;
  font-size: 19px;
  margin: 10px 0;
 }

 .main_cta button{
  background-color: #FE347E;
  display: inline-block;
  padding: 8px 30px;
  color: white;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  cursor: pointer;

 }

.diferenciais {
  display: flex;
  align-items: right;
}

.diferencial_single{
  background-color: white;
  width: 24%;
  margin-right: 1%;
  padding: 50px 20px;
}
